.item {
  position: relative;
  display: block;
  padding: 20px 20px 36px;

  border-radius: 20px;
  width: 380px;

  box-shadow: -3px 7px 21px 0 rgba(0, 0, 0, 0.23);
  background: top 28px left 36px / auto no-repeat url('/public/fone.png'),
    top 214px left 0 / auto no-repeat url('/public/line.png'),
    linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);

  & p {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #ebd8ff;
    text-align: center;
  }
}

.logo {
  margin-bottom: 136px;
}

.imgWrapper {
  margin: 0 auto 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-shadow: inset 0 4px 3px 0 #fbf8ff, 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    inset 0 -2px 4px 0 #ae7be3;
  background-image: url('/public/ellipse.svg');
  background-size: auto;
  background-clip: border-box;
  background-position: top 0 left -5px;
  z-index: 100;
}
.imgInsideWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #471ca9;
}
.tweets {
  margin-bottom: 20px;
}
.followers {
  margin-bottom: 28px;
}
